ALLOW_DEMO_PAYMENTS=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_LINKEDIN_ID=
AUTH_LINKEDIN_SECRET=
AUTH_SECRET=
AUTH_TRUST_HOST=
DATABASE_URL=
MPESA_CALLBACK_URL=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_PASSKEY=
MPESA_SHORTCODE=
TELEBIRR_APP_ID=
TELEBIRR_APP_KEY=
TELEBIRR_ENV=
TELEBIRR_FABRIC_APP_ID=
TELEBIRR_NOTIFY_URL=
TELEBIRR_PRIVATE_KEY=
TELEBIRR_PUBLIC_KEY=
TELEBIRR_RECEIVE_NAME=
TELEBIRR_RETURN_URL=
TELEBIRR_SHORT_CODE=
UPSTASH_REDIS_REST_TOKEN=
UPSTASH_REDIS_REST_URL=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_TOKEN=